.precos {
  mat-slider {
    width: 100%;
    margin: 0;
    box-sizing: border-box;
  }
  .labels {
    display: flex;
    justify-content: space-between;
    .label-container:last-child {
      text-align: right;
    }
  }
}

.label {
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  margin-top: 24px;
  margin-bottom: 16px;
}
