<app-card variant="secondary">
  <div class="card-content">

    <div class="details-section">
      <h2 class="title">{{ passagem.dataIda && passagem.dataVolta ? 'Ida e Volta': 'Somente Ida' }}</h2>

      <hr class="divider" />

      <div class="info-grid">
        <div class="info-column">
          <span class="label">Origem</span>
          <div class="chip">{{ passagem.origem.nome }}</div>
        </div>
        <div class="info-column">
          <span class="label">Destino</span>
          <div class="chip">{{ passagem.destino.nome }}</div>
        </div>
      </div>

      <hr class="divider" />

      <div class="info-grid dates-grid">
        <div class="info-column">
          <span class="label">Ida</span>
          <div class="chip">{{ passagem.dataIda | date:'dd/MM' }}</div>
        </div>
        @if (this.passagem.dataVolta) {
        <div class="info-column">
          <span class="label">Volta</span>
          <div class="chip">{{ passagem.dataVolta | date:'dd/MM' }}</div>
        </div>
        }
      </div>
    </div>

    <div class="price-section">
      <div class="price-highlight">
        {{ passagem.total | currency:'BRL':'symbol':'1.2-2':'pt-BR' }}
      </div>

      <div class="price-breakdown">
        <div class="breakdown-row">
          <span>{{passagem.tipo}}</span>
          <span>{{ (passagem.precoIda + passagem.precoVolta) | currency:'BRL':'symbol':'1.2-2':'pt-BR' }}</span>
        </div>
        <div class="breakdown-row">
          <span>Taxa de embarque</span>
          <span>{{ passagem.taxaEmbarque | currency:'BRL':'symbol':'1.2-2':'pt-BR' }}</span>
        </div>
      </div>

      <hr class="divider solid" />

      <div class="breakdown-row total-row">
        <strong>Total</strong>
        <strong>{{ passagem.total | currency:'BRL':'symbol':'1.2-2':'pt-BR' }}</strong>
      </div>

      <div class="payment-info">
        <span>10% de desconto<br>no Pix</span>
        <span class="ou">ou</span>
        <span>12x no cartão de<br>crédito</span>
      </div>

      <button class="btn-comprar">COMPRAR</button>
    </div>

  </div>
</app-card>