<app-banner src="assets/imagens/banner-homepage.png" alt="Banner da aplicação Jornada" />
<app-container>
    <app-form-busca />
    <h2>Promoções</h2>
    <div class="card-wrapper">
        @for (promocao of promocoes(); track $index) {
        <app-card-busca [imagem]="promocao.imagem" [alt]="promocao.destino" [nomeLocal]="promocao.destino"
            [valor]="promocao.preco | brl">
        </app-card-busca>
        }
    </div>
    <h2>Depoimentos</h2>
    @for (depoimento of depoimentos(); track $index) {
    <div class="cards-depoimento">
        <app-card-depoimento [img]="depoimento.avatar" [nome]="depoimento.autor" [mensagem]="depoimento.texto" />
    </div>
    }
</app-container>
<app-banner src="assets/imagens/banner-homepage-rodape.png" alt="Banner da aplicação Jornada" />