<app-card variant="secondary">
    <form [formGroup]="formBuscaService.formBusca">
        <h2>Passagens</h2>
        <div class="flex-container">
            <mat-button-toggle-group aria-label="Tipo de passagem" formControlName="somenteIda">
                <mat-button-toggle [checked]="!formBuscaService.somenteIda">
                    IDA E VOLTA
                </mat-button-toggle>
                <mat-button-toggle [checked]="formBuscaService.somenteIda">SOMENTE IDA</mat-button-toggle>
            </mat-button-toggle-group>
            <mat-chip-listbox (click)="openDialog()" aria-label="Seleção de passagens">
                <mat-chip-option selected>1 adulto</mat-chip-option>
                <mat-chip-option>Econômica</mat-chip-option>
            </mat-chip-listbox>
        </div>
        <div class="flex-container">
            <app-dropdown-uf label="Origem" iconePrefix="flight_takeoff"
                [control]="formBuscaService.obterControle('origem')" />
            <button mat-icon-button type="button" class="sync-button">
                <mat-icon>sync_alt</mat-icon>
            </button>
            <app-dropdown-uf label="Destino" iconePrefix="flight_land"
                [control]="formBuscaService.obterControle('destino')" />

            <mat-form-field appearance="outline">
                <mat-label>Data de ida</mat-label>
                <input matInput [matDatepicker]="pickerIda">
                <mat-datepicker-toggle matIconSuffix [for]="pickerIda"></mat-datepicker-toggle>
                <mat-datepicker #pickerIda></mat-datepicker>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Data de volta</mat-label>
                <input matInput [matDatepicker]="pickerVolta">
                <mat-datepicker-toggle matIconSuffix [for]="pickerVolta"></mat-datepicker-toggle>
                <mat-datepicker #pickerVolta></mat-datepicker>
            </mat-form-field>

            <button matButton="filled" type="button">Buscar</button>
        </div>
    </form>
</app-card>